@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<html>
<head>
    <style>
        .slidermovieimage {
            width: 350px;
            height: 500px;
        }
    </style>
</head>
<body>

    @await Component.InvokeAsync("_SliderVC")

    <div class="movie-items  full-width">
        <div class="row">
            <div class="col-md-12">

                @await Component.InvokeAsync("_LastMoviesVC")
                @await Component.InvokeAsync("_TopMoviesVC")

            </div>
        </div>
    </div>
</body>
</html>