@model List<DTO.UI_Dtos.MovieDto>
@{
    ViewData["Title"] = "MovieList";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<link href="~/css/movelist.css" rel="stylesheet" />

<style>
    /* Arama çubuğu kapsayıcı stil */
    .search-container {
        width: 100%; /* Genişlik: Sayfanın %80'i */
        max-width: 1150px; /* Maksimum genişlik */
        margin: 0 auto; /* Ortalamak için margin */
        padding: 10px 0; /* Üst ve alt boşluk */
    }

    /* Arama çubuğu stil */
    .search-bar {
        width: 100%; /* Kapsayıcı kadar geniş */
        padding: 10px;
        border: 1px solid #ccc; /* Çerçeve */
        border-radius: 5px; /* Köşeleri yuvarla */
        font-size: 16px; /* Yazı boyutu */
    }

</style>
<body>
    <div class="hero common-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1>Tüm Fİlmler</h1>
                        <ul class="breadcumb">
                            <li class="active"><a href="#">Anasayfa</a></li>
                            <li> <span class="ion-ios-arrow-right"></span>Film Listesi</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header>
        <div>
            <div class="search-container top-search">
                <input type="text" class="search-bar" placeholder="Bir film adı veya seri girin">
            </div>
        </div>
    </header>

    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">


                    <div class="topbar-filter fw">
                        <p>Toplamda <span>@TempData["moviecount2"] Film</span> Bulundu</p>
                        <label>Sıralama</label>
                        <partial name="~/Views/Movie/FilterBarPartial.cshtml" />
                        <a href="movielist.html" class="list"><i class="ion-ios-list-outline "></i></a>
                        <a href="moviegridfw.html" class="grid"><i class="ion-grid active"></i></a>
                    </div>

                    <div class="xd">
                        <div class="flex-wrap-movielist mv-grid-fw">
                            <!----------------------------FilmListesi--------------------------------->
                            @foreach (var x in Model)
                            {
                                <div class="movie-item-style-2 movie-item-style-1">
                                    <img src="@x.image" alt="">
                                    <div class="hvr-inner">
                                        <a href="/Movie/MovieDetails/@x.id"> Filme Git <i class="ion-android-arrow-dropright"></i> </a>
                                    </div>
                                    <div class="mv-item-infor">
                                        <h6><a href="/Movie/MovieDetails/@x.id">@x.name</a></h6>
                                        <p class="rate"><i class="ion-android-star"></i><span>@x.score.ToString("0.0")</span> /10</p>
                                    </div>
                                </div>
                            }
                            <!----------------------------FilmListesi--------------------------------->
                        </div>
                    </div>

                    <div class="topbar-filter">
                        <label>Movies per page:</label>
                        <select>
                            <option value="range">20 Movies</option>
                            <option value="saab">10 Movies</option>
                        </select>
                        <div class="pagination2">
                            <span>Page 1 of 2:</span>
                            <a class="active" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">...</a>
                            <a href="#">78</a>
                            <a href="#">79</a>
                            <a href="#"><i class="ion-arrow-right-b"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        $('#filterbar').change(function () {
            var selectedValue = $(this).val();
            $.ajax({
                url: '/Movie/FilteredMovieList',
                type: 'GET',
                data: { SortyBy: selectedValue },
                success: function (result) {
                    // Dönen HTML'i div içerisine yerleştir
                    $('.xd').html('');
                    $('.xd').html(result);
                },
                error: function () {
                    alert('Bir hata oluştu, lütfen tekrar deneyin.');
                }
            });
        });
    });
</script>

