@{
    ViewBag.Title = "Ana Sayfa";
}


@if (ViewBag.Data != null)
{
    <div>
        <h3>API'den Alınan Veri:</h3>
        <pre>@ViewBag.Data</pre>  <!-- Veriyi burada görüntülüyoruz -->
    </div>
}
else
{
    <div>
        <h3>Veri alınamadı!</h3>
        <p>Bir hata oluştu veya API'den veri alınamadı.</p>
    </div>
}
