@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!DOCTYPE html>
<head>
    <!-- Basic need -->
    <title>Open Pediatrics</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">

    <!-- CSS files -->
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<style>
    .user-hero {
        height: 385px;
        background: url('https://images.unsplash.com/photo-1514306191717-452ec28c7814?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat !important;
    }

    #footerBar {
        display: none;
    }

</style>

<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <div class="hero user-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="margin-right:22em" class="hero-ct">
                        <h1>Profilim</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-single">
        <div class="container">
            <div class="row ipad-width">

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="user-information">
                        <div class="user-img">
                            <a href="#"><img id="userimg" src="" style="width:170px;height:170px" alt=""><br></a>
                            <br />
                            <a href="#" class="redbtn">Avatarı Değiştir</a>
                        </div>
                        <div class="user-fav">
                            <p>Hesap Detayları</p>
                            <ul>
                                <li class="active"><a href="/User/Index">Profil</a></li>
                                <li><a id="favoriteMovies" href="#">Favori Filmlerim</a></li>
                                <li><a href="userrate.html">Film Yorumlarım</a></li>
                            </ul>
                        </div>
                        <div class="user-fav">
                            <ul>
                                <li><a href="#">Çıkış Yap</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 col-sm-12 col-xs-12">

                    <div id="mainContent">
                        <div class="form-style-1 user-pro" action="">
                            <form class="user" id="profileDetails">
                                <h4>Profil Bilgilerim</h4>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>İsim</label>
                                        <input type="text" id="firstName">
                                    </div>
                                    <div class="col-md-6 form-it">
                                        <label>Soyisim</label>
                                        <input type="text" id="lastName">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>Kullanıcı Adı</label>
                                        <input type="text" id="userName">
                                    </div>
                                    <div class="col-md-6 form-it">
                                        <label>E-Mail Adresi</label>
                                        <input type="text" id="email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <input id="btnKaydet" class="submit" type="submit" value="Kaydet">
                                    </div>
                                </div>
                            </form>
                            <form class="password" id="passwordForm">
                                <h4>02. Change password</h4>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>Güncel Parola</label>
                                        <input type="text" id="oldPassword" placeholder="**********">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>Yeni Parola</label>
                                        <input type="text" id="newPassword" placeholder="***************">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>Yeni Parolayı Doğrula</label>
                                        <input type="text" id="confirmNewPassword" placeholder="*************** ">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <input id="btnParola" class="submit" type="submit" value="Kaydet">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div id="footerBar">
                        <div class="topbar-filter">
                            <select id="filterbar">
                                <option value="">Sıralama</option>
                                <option value="NameAsc">İsim (A-Z)</option>
                                <option value="NameDesc">İsim (Z-A)</option>
                                <option value="ScoreAsc">Puan (Artan)</option>
                                <option value="ScoreDesc">Puan (Azalan)</option>
                            </select>

                            <div class="pagination2">

                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <script src="~/js/userjs.js"></script>
</body>


<script>
    $(document).ready(function () {
        // "Favorite Movies" linkine tıklanınca favori filmleri yükle
        $('#favoriteMovies').click(function () {
            loadMovies(1); // İlk sayfayı yükle
        });

        // Sıralama dropdown'unda değişiklik olduğunda filmleri yükle
        $('#filterbar').change(function () {
            var sortBy = $(this).val();
            loadMovies(1, sortBy);
        });

        // Filmleri yükleme fonksiyonu
        function loadMovies(page, sortBy = '') {
            $.ajax({
                url: '/User/UserFavoritedMovies',
                method: 'GET',
                data: {
                    sortBy: sortBy,
                    page: page,
                    pageSize: 3
                },
                success: function (data) {
                    var html = '';

                    if (data.movies.length === 0) {
                        html = '<p>Favori filmler bulunamadı.</p>';
                        $('.topbar-filter').hide();
                    } else {
                        data.movies.forEach(function (movie) {
                            let actorsHtml = (movie.actors && movie.actors.length > 0)
                                ? movie.actors.map(actor => `<a href="#">${actor.firstName} ${actor.lastName}</a>`).join(', ')
                                : "Bilgi yok";

                            html += `
                                        <div class="flex-wrap-movielist user-fav-list">
                                            <div class="movie-item-style-2">
                                                <img src="${movie.image}" style="width:180px;height:277px" alt="">
                                                <div class="mv-item-infor">
                                                    <h6><a href="/Movie/MovieDetails/${movie.id}">${movie.name}</a></h6>
                                                    <p class="rate"><i class="ion-android-star"></i><span>${movie.score.toFixed(1)}</span> /10</p>
                                                    <p class="describe">${movie.description.substring(0, 300)}...</p>
                                                    <p class="run-time"> ${movie.runTime} Dakika <span>#${movie.hashtag}</span>
                                                    <span>Yayınlanma Tarihi ${new Date(movie.releaseDate).toLocaleDateString('tr-TR')}</span></p>
                                                    <p>Yazar: <a href="#">${movie.writer}</a></p>
                                                    <p>Yönetmen: <a href="#">${movie.director}</a></p>
                                                    <p>Oyuncular: ${actorsHtml}</p>
                                                </div>
                                            </div>
                                        </div>`;
                        });

                        $('#footerBar').show();
                    }

                    $('#mainContent').html(html);
                    updatePagination(data.totalPages, data.currentPage, sortBy);
                },
                error: function (xhr) {
                    console.error("Hata oluştu:", xhr.responseText);
                    $('#mainContent').html('<p>Filmler yüklenirken bir hata oluştu.</p>');
                }
            });
        }

        // Sayfalama güncelleme fonksiyonu
        function updatePagination(totalPages, currentPage, sortBy) {
            var paginationHtml = '';
            for (var i = 1; i <= totalPages; i++) {
                paginationHtml += `<a href="#" class="${i === currentPage ? 'active' : ''}" data-page="${i}">${i}</a>`;
            }
            $('.pagination2').html(paginationHtml);
        }

        // Sayfa butonlarına tıklandığında film listesini yükle
        $(document).on('click', '.pagination2 a', function (e) {
            e.preventDefault();
            var page = $(this).data('page');
            var sortBy = $('#filterbar').val();
            loadMovies(page, sortBy);
        });
    });

</script>